# Use public npm for everything by default
registry=https://registry.npmjs.org/

# Only use GitHub Packages for your scoped stuff
@brysonandrew:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}