html {
  scroll-behavior: smooth;
  font-size: 100%;
}

html,
body {
  font-family: 'Bodoni Moda', Chakra Petch, Rubik, Noto Kufi Arabic, Noto Sans JP, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 100%;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-overflow-scrolling: touch;
}

html.dark,
html.dark body {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: inherit;
}

code {
  font-family: 'Nova Mono', Courier, Menlo, and Consolas, monospace;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

label,
input,
textarea,
select {
  font-family: inherit;
  background-color: transparent;
}

label:disabled,
input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
}

label:focus,
textarea:focus,
input:focus {
  outline: none;
}

hr {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--black-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--teal-bright);
  border: 1px solid var(--baby-blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--white-08);
}

input:-webkit-autofill {
  filter: none;
  box-shadow: 0 0 0 100px #111 inset;
  -webkit-text-fill-color: var(--baby-blue) !important;
}
