html {
  scroll-behavior: smooth;
  font-size: 100%;
}

html.dark {
  background-color: black;
}

html,
body {
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-overflow-scrolling: touch;
}

a {
  font-family: inherit;
  font-weight: 400;
}

strong {
  font-family: inherit;
  font-weight: 800;
}

label,
input,
textarea,
select {
  font-family: inherit;
  background-color: transparent;
}

label:disabled,
input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
}

label:focus,
textarea:focus,
input:focus {
  outline: none;
}

hr {
  outline: none;
  border: none;
}
